#title{
  background-color: #ff4c68;
}
h1{
    font-family: 'Varela Round', sans-serif;
    font-size: 40px;
    line-height: 1.5;
    color: white;
}
h3{
  font-family: 'Varela Round', sans-serif;
  font-weight: bolder;
  font-size: 20px;
}
h2{
  font-family: 'Varela Round', sans-serif;
  font-weight: bolder;
  line-height: 1.2;
  font-size: 30px;
}
p{
  color: #8f8f8f;
}
.cont{
padding:3% 15% 7%;
}
.navbar-brand{
  font-family: 'Dancing Script', cursive;
font-weight: bold;
}
.navi{
  padding:0 0 4.5rem;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
   font-size: 1.2rem;
   font-family: 'Ubuntu', sans-serif;

}
.dnld{
  margin: 5% 3% 5% 0;
}
.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}
.feature-box{
  text-align: center;

}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color:#ff4c68;
}
.icon-social{
  margin: 20px 20px;
}
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: white;
}
.test-img{
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.cardbtn{
  margin-top: 50px;
}
.card{
  height:22rem;
}
.press-logo{
 width: 15%;
 margin: 20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%;
}
#pricing{
  padding: 100px;
  text-align: center;
}
.pri-col{
  padding: 3% 2%;
}
#cta{
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
}
#footer{
  text-align: center;
  spacing:10px;
}

@media (max-width:1028px) {
  h1{
    font-size:30px;
  }
  h2{
    font-size:20px;
  }
  h3{
    font-size:15px;
  }
.title-image{
  position: static;
  transform: rotate(0);
}
#title{
  text-align: center;
}
}
